td {
  height: 25px;
  width: 25px;
  background-color: #555;
}

.unclickedSquare:active {
  overflow:auto;
  background-color: #000;
}

.barrier {
  background-color: #f00;
}

.grid-container {
  display: flex;
  justify-content: center;
}