.square {
    height: 25px;
    width: 25px;
    background-color: #555;
  }

  .robo {
    height: 25px;
    width: 25px;
  }

  .barrier {
    height: 25px;
    width: 25px;
    background-color: #f00;
  }

  .grid-container {
    display: flex;
    justify-content: center;
  }